{% extends 'layout.html' %}

{% block content %}
<h1>Test job for BENOVATE</h1>
    <div>
        <form id="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Отправить">
        </form>
    </div>
    
    <hr>

    <div>{{op_result}}</div>


    <p>Список пользователей (только для тестирования):</p>
    <table>
    {% for i in userlist %}
        <tr>
            <td><b>{{i.id}}</b></td>
            <td>{{i.username}}</td>
            <td>{{i.inn}}</td>
            <td>{{i.account}}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
